<div class="wrapper">
  <div class="side">
    <div class="side-top">
    </div>
    <div class="side-middle">
    </div>
    <%# <%= render "side_bar" %>
  </div>
  <div class="chat">
      <div class="chat-top"></div>
      <div class="chat-middle"></div>
      <div class="chat-bottom"></div>
    <%# <%= render "main_chat" %>
  </div>
</div>